header {
  
    border-bottom: solid 2px black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

nav a {
    text-align: center;
    flex-grow: 1;
}
nav div{
    align-self: stretch;
    border-right: solid 2px black;
}
main {
    display: flex;
}

main section:first-child {
    display: flex;
    flex-direction: column;
    border-right: solid 2px black;
}

main section>form {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



